> ### Data Structures & Programming Basics

# Lecture03: Algorithm Analysis

##1. Insertion and Time

In [ ]:
def contains(bag, e) : #contains라는 함수에 bag, e가 있음
    return e in bag

def insert(bag, e) : #bag이라는 리스트 제일 뒤에 e를 넣음
    bag.append(e)

def insert_first(bag, e) : #bag이라는 리스트 제일 앞에 e를 넣음,0위치에 e를 넣음
    bag.insert(0, e)

def remove(bag, e) :    #bag에서 e를 지우겠다.
    bag.remove(e)

def count(bag):
    return len(bag) #bag의 길이를 리턴해라

In [ ]:
myBag = [] #아무것도 없는 리스트
insert(myBag, '휴대폰')
insert(myBag, '지갑')
insert(myBag, '손수건')
insert(myBag, '빗')
insert(myBag, '자료구조')
insert(myBag, '야구공')
print('가방속의 물건:', myBag)

insert(myBag, '빗')
remove(myBag, '손수건')
print('가방속의 물건:', myBag)

가방속의 물건: ['휴대폰', '지갑', '손수건', '빗', '자료구조', '야구공']
가방속의 물건: ['휴대폰', '지갑', '빗', '자료구조', '야구공', '빗']

### Time module

In [ ]:
import time

myBag = []
start = time.time()
for i in range(10000):
    insert_first(myBag, '펜')
end = time.time()

In [ ]:
start

1649766744.8884594

In [ ]:
end

1649766744.901425

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0331409 seconds

In [ ]:
myBag = []
start = time.time()
for i in range(10000):
    insert(myBag, '펜')
end = time.time()

In [ ]:
start

1711506099.7725716

In [ ]:
end

1711506099.8057125

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0331409 seconds


## 2. What Is Algorithm Analysis?

* 1~n까지의 Sum을 구하는 함수

In [ ]:
def sum_of_n(n):
    the_sum = 0
    for i in range(1,n+1):
        the_sum = the_sum + i
    return the_sum

In [ ]:
print(sum_of_n(10))

55

* 같은 기능을 수행하는 함수이지만 이해하기 어려운 변수명, 추가적인 할당

In [ ]:
def foo(tom):
    fred = 0
    for bill in range(1, tom+1):
        barney = bill
        fred = fred + barney
    return fred

In [ ]:
print(foo(10))

55

In [ ]:
import time

def sum_of_n_2(n):
    start = time.time()
    the_sum = 0

    for i in range(1, n+1):
        the_sum = the_sum + i
    end = time.time()

    return the_sum, end - start

In [ ]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_2(10000))

Sum is 50005000 required  0.0010018 seconds
Sum is 50005000 required  0.0009024 seconds
Sum is 50005000 required  0.0009890 seconds
Sum is 50005000 required  0.0013566 seconds
Sum is 50005000 required  0.0007591 seconds

In [ ]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_2(1000000))

Sum is 500000500000 required  0.0739386 seconds
Sum is 500000500000 required  0.0659854 seconds
Sum is 500000500000 required  0.0665572 seconds
Sum is 500000500000 required  0.0728774 seconds
Sum is 500000500000 required  0.0681710 seconds

In [ ]:
def sum_of_n_3(n):
    return (n * (n + 1)) / 2

In [ ]:
print(sum_of_n_3(10))

55.0

In [ ]:
def sum_of_n_3(n):
    start = time.time()
    the_sum = (n * (n + 1)) / 2
    end = time.time()

    return the_sum, end - start

In [ ]:
for i in range(5):
    print("Sum is %d required %10.7f seconds" % sum_of_n_3(10000 * (10 ** (i+1))))

Sum is 5000050000 required  0.0000012 seconds
Sum is 500000500000 required  0.0000012 seconds
Sum is 50000005000000 required  0.0000005 seconds
Sum is 5000000050000000 required  0.0000012 seconds
Sum is 500000000500000000 required  0.0000007 seconds

## 3. Big-$\mathcal{O}$ Notation

###p.23 Example

In [ ]:
def sum_quad(n):
    partialSum = 0
    for i in range(n):
        partialSum += i*i*i
    return partialSum

In [ ]:
sum_quad(5)

100

### Rule 2

In [ ]:
N = 100
M = 40
k = 0
for i in range(N):
    for j in range(M):
        k += 1

print(k)

4000

### Rule 3

In [ ]:
N = 100
M = 40
k = 0
for i in range(N):
    for j in range(N):
        k = i + j
for i in range(M):
    k += i

print(k)

978

### Rule 4

In [ ]:
score = [50, 29, 59, 80, 99, 100]

if len(score) > 5:
    for i in score:
        print("score : %d" % i)
else:
    print("not enough scores")

score : 50
score : 29
score : 59
score : 80
score : 99
score : 100

### p.31 순환 Recursive

* factorial

In [ ]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [ ]:
print(factorial(10))

3628800

In [ ]:
def factorial2(n):
    result = 1
    for k in range(n,0,-1):
        result = result * k
    return result

In [ ]:
print(factorial2(10))

3628800

* 거듭제곱

In [ ]:
import math as m

In [ ]:
m.pow(2,3)

8.0

In [ ]:
def power_iter(x,n):
    result = 1.0
    for i in range(n):
        result = result * x
    return result

In [ ]:
print(power_iter(2,3))

8.0

In [ ]:
def power_recur(x,n):
    if n ==0:
      return 1
    elif (n % 2) == 0 :
      return power_recur(x*x,n//2)
    else :
      return x*power_recur(x*x, (n-1)//2)

In [ ]:
print(power_recur(6,3))

216

* p.36 피보나치 수열

In [ ]:
import time

In [ ]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

n = int(input("숫자를 입력하세요."))

start = time.time()
print(fib(n))
end = time.time()

55

In [ ]:
start

1650347906.8174057

In [ ]:
end

1650347906.8174057

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0000000 seconds

In [ ]:
def fib_iter(n):
    if (n < 2):
        return n
    last = 0
    current = 1
    for i in range(2, n+1):
        tmp = current
        current += last
        last = tmp
    return current

n = int(input("숫자를 입력하세요."))
start = time.time()
print(fib_iter(n))
end = time.time()

6765

In [ ]:
start

1650347934.4749465

In [ ]:
end

1650347934.4749465

In [ ]:
print("running time : %10.7f seconds" % (end - start))

running time :  0.0000000 seconds